# DB access
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
API_INTERNAL_USERNAME=
API_INTERNAL_PASSWORD=

FRONTEND_HOST=
BACKEND_PORT=
API=
GOOGLE_API_KEY=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_AUTH_CLIENT_SECRET=
GOOGLE_DRIVE_FOLDER=
# list of authorized user email-addresses (as comma separated string in parenthesis)
AUTHORIZED_MAIL_ADDRESSES=""
SESSION_SECRET=
REFRESH_TOKEN=
ADMIN_ROUTE=/
JWT_SECRET=